a {
  color: indigo;
  font-family: helvetica;
}
body {
  font-family: courier;
  background-image: url(http://www.gosugamers.net/files/images/news/2017/april/midas_small.jpg);
  background-size: cover;
}
div {
  font-family: courier;
  margin-left: 3%;
}
h1 {
  color: black;
  width: 400px;
  font-family: arial;
  border: 3px solid black;
  background-color: gold;
  margin-left: 1%;
  padding: 5px 0;
  text-align: center;
}
.bigBack{
  width: 100%;
  height: 100%
}
h2{
  color: black;
  width: 400px;
  font-family: arial;
  border: 3px solid black;
  background-color: gold;
  padding: 5px 0;
  border-width: medium;
}
ul{
  color: black;
  width: 400px;
  font-family: courier;
  text-align: center;
  border: 3px solid black;
  background-color: gold;
  margin-left: 1%;
  padding: 5px 0;
}
